body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #741B27;
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 500px;
    margin: 200px auto;
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #DEDACB;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3E0B13;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #741B27;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}